 .banner__content {
    display: grid;
}
  
.banner {
    height: 83%;
    margin-bottom: 0;
    display: grid;
    justify-items: center;
    align-items: center;

    position: relative;
    /* margin-top: 2rem; */
    background-position: center center;

    background-repeat: no-repeat;
    background-size: cover;
}
  
.banner__sub-title {
    text-transform: uppercase;
    color: #017dfb;
    font-weight: 600;
    letter-spacing: 0.5em;
    padding: 0 0 2em 0;
    justify-self: center;
    font-size: 1rem;

}
  
.banner__button {
    justify-self: center;
}

.banner__main-title {
    margin: 0 auto;
    font-family: 'Molle', cursive;
    /* font-family: 'Dancing Script', cursive; */
    margin-left: 20px;
    font-weight: 400; 
    font-style: normal;
    font-size: 10rem;
    color: var(--blue);
    animation: jello 1s;
    transform-origin: center;
}

@keyframes jello {
    0%, 11.1%, 100% {
        -webkit-transform: translateZ(0);
        transform: translateZ(0);
    }
    22.2% {
        -webkit-transform: skewX(-12.5deg) skewY(-12.5deg);
        transform: skewX(-12.5deg) skewY(-12.5deg);
    }
    33.3% {
        -webkit-transform: skewX(6.25deg) skewY(6.25deg);
        transform: skewX(6.25deg) skewY(6.25deg);
    }
    44.4% {
        -webkit-transform: skewX(-3.125deg) skewY(-3.125deg);
        transform: skewX(-3.125deg) skewY(-3.125deg);
    }
    55.5% {
        -webkit-transform: skewX(1.5625deg) skewY(1.5625deg);
        transform: skewX(1.5625deg) skewY(1.5625deg);
    }
    66.6% {
        -webkit-transform: skewX(-.78125deg) skewY(-.78125deg);
        transform: skewX(-.78125deg) skewY(-.78125deg);
    }
    77.7% {
        -webkit-transform: skewX(.390625deg) skewY(.390625deg);
        transform: skewX(.390625deg) skewY(.390625deg);
    }
    88.8% {
        -webkit-transform: skewX(-.1953125deg) skewY(-.1953125deg);
        transform: skewX(-.1953125deg) skewY(-.1953125deg);
}
}

@media screen and (max-width: 600px) {
    .banner__main-title  {
        font-size: 7rem;
    }
    .banner__sub-title  {
        font-size: .8rem;
    }

    .banner__main-title {
        margin-top: 50px;
    }
    
}


@media screen and (max-width: 400px) {
    .banner__main-title  {
        font-size: 6rem;
    }
}

@media screen and (max-width: 500px) {
    /* .banner__main-title  {
        font-size: 6rem;
    } */
}

@media screen and (max-width: 375px) {
    .banner__main-title  {
        font-size: 5rem;
    }
}
