.hotels  {
    background-color: #F9F9F9;
    margin: 2rem 0;
}
  


.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr ;
    grid-column-gap: 30px;
    grid-row-gap: 60px;
}
  
.card {
    height: 442px;
    width: 372px;
    background-color: #C7C7C7;
    position: relative;
    display: flex;
    justify-content: center;
}
.card__content {
    position: absolute;
    background-color: #FFFFFF;
    width: 100%;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 15px 30px 30px;
}
.card__title {
    color: #6D7C9C;
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
    margin-top: 5px;
    width: 140px;
}
.card__price {
    color: #808DA9;
    font-size: 30px;
    font-family: 'Quicksand', sans-serif;
    margin-left: auto;
}

.card__star-rating {
    margin-top: -10px;
    margin-left: -3px;
    font-size: 1.5rem;
    color: #FFCE23;
}

.card__vacation-days {
    color: #888DAC;
    opacity: .5;
    font-size: .8rem;
    margin-left: 100px;
    
}
/* buttons */

.card__button {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) translateY(50%);
    -webkit-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.25);
    box-shadow: 0px 0px 20px 2px rgba(0,0,0,0.25);  
}

.more-cards__button {
    color: #CCCCCC;
    border: 2px solid #E9E9E9;
    background-color: #F9F9F9;
}

/* .more-cards__button:focus {
    border-radius: 1px;
} */



.more-cards {
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1750px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
      
    }
}

@media screen and (max-width: 1350px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        
    }
}

@media screen and (max-width: 950px) {
    .card {
        height: 350px;
        width: 280px;
    }
    .card__vacation-days {
       
        margin-left: 25px;
        
    }
}

@media screen and (max-width: 650px) {
    .cards {
        grid-template-columns:  1fr;
        
    }
}